exportPattern("^[[:alpha:]]+")
exportMethods(
    "colData",
    "colData<-",
    "cpmData",
    "cpmData<-",
    "dataType",
    "estimatePrecisions",
    "estimateGeneCPM",
    "estimateSizeFactors",
    "exprData",
    "exprData<-",
    "rowData",
    "rowData<-")
exportClasses(
    "csDEXdataSet" 
)
